*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

/* top-header-section-css-start */
.top-header-section {
    background-color: #173a69;
    padding-top: 10px;
    padding-bottom: 10px;
}
.container{
    max-width: 1140px;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
}
.top-header-section a {
   color: #f0f2f5;
   text-decoration: none;
   font-size: 13px;
}
.top-header-section .main-column {
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.top-header-section .column-left{
   
}
.top-header-section .column-right {
    text-align: right;
}
.top-header-section .fa-twitter{
    padding-left: 35px;
    padding-right:35px;
}
.top-header-section .phone{
    margin-right: 40px;
    position: relative;
    padding-left: 20px;
    
}
.top-header-section .phone::before {
    content: "\f2a0";
    position: absolute;
    font-family: fontawesome;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}
.top-header-section .email{
    position: relative;
    padding-left: 20px;
}
.top-header-section .email::before{
    content: "\f0e0";
    position: absolute;
    font-family: fontawesome;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

/* top-header-section-css-end */

/* main-manu-section-css-start */

.main-manu-section{}
.main-manu-section .nav-section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.main-manu-section .left-logo {
    width: 20%;
    margin-right: 4%;
    margin-top: 18px;
    margin-bottom: 16px;
}
.main-manu-section .right-nav {
    width: 76%;
    text-align: right;
}
.main-manu-section .right-nav ul{
    list-style: none;
}
.slicknav_menu{
    display: none;
}
.main-manu-section .right-nav ul li {
    display: inline-block;
    padding-right: 40px;
}
.main-manu-section .right-nav ul li:last-child{
    padding-right: 0;
}
.main-manu-section .right-nav ul li a {
    text-decoration: none;
    color: #0c1f38;
    font-size: 15px;
    font-weight: 600;
    position: relative;
    text-transform: uppercase;
    transition: .3s;
}
.main-manu-section .right-nav ul li a::after {
    content: "";
    position: absolute;
    width: 0;
    height: 4px;
    bottom: -50px;
    left: 55%;
    transform: translateX(-50%);
    transition: .3s;
}
.main-manu-section .right-nav ul li a:hover::after{
    background-color: #000000;
    width: calc(100% + 30px);
    border-radius: 4px;
    
}


/* main-manu-section-css-end */

/* header-banner-section-css-start */

.baner-section {
    background: url(./service-image/service-slider.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 256px;
    position: relative;
}
.baner-section::after {
    content: '';
    position: absolute;
    background: #000000;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: .5;
    z-index: 1;
}
.baner-section .bannar-caption {
    text-align: center;
    position: relative;
    top: 95px;
    z-index: 9;
}
.baner-section .bannar-caption h2 {
    font-size: 32px;
    font-weight: 800;
    text-transform: uppercase;
    color: #fff;
    padding-bottom: 18px;
}
.baner-section .bannar-caption p {
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
    color: #fff;
}

/* header-banner-section-css-end */

/* form-section-css-start */


.form-section .container{
    margin-top: 102px;
}
.form-section .flex-container {
    gap: 95px;
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.form-section .left-container {
  
}
.form-section .name-email{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 18px;
}

.form-section .left-container h2 {
    font-size: 25px;
    padding-bottom: 29px;
    font-weight: 700;
}
.form-section .left-container p {
    font-size: 16px;
    font-weight: 400;
    color: #0c0603;
    padding-bottom: 35px;
}

.form-section input, .form-section textarea {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #e1e1e1;
    padding: 12px 10px;
    margin-bottom: 22px;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
.form-section .btn {
    width: 200px;
    background: #173a69;
    color: #fff;
    cursor: pointer;
    transition: .4s;
}
.form-section .btn:hover{
    background-color: #fff;
    color:#173a69 ;
}
.form-section textarea {
    resize: none;
    height: 135px;
}

.form-section .right-container h2 {
    font-size: 25px;
    font-weight: 700;
    color: #0c0603;
    padding-bottom: 35px;
}
.form-section .right-container .offic{
    position: relative;
}
.form-section .right-container .offic::before {
    content: '';
    position: absolute;
    background: url(./service-image/form-logo-1.png);
    width: 19px;
    height: 16px;
    top: 50%;
    left: -33px;
    transform: translateY(-50%);
}
.form-section .right-container .phone{
    position: relative;
}
.form-section .right-container .phone::before {
    content: '';
    position: absolute;
    background: url(./service-image/form-logo-2.png);
    width: 18px;
    height: 18px;
    top: 50%;
    left: -33px;
    transform: translateY(-50%);
}
.form-section .right-container .fax{
    position: relative;

}
.form-section .right-container .fax::before {
    content: '';
    position: absolute;
    background: url(./service-image/form-logo-3.png);
    width: 20px;
    height: 20px;
    top: 50%;
    left: -33px;
    transform: translateY(-50%);
}
.form-section .right-container .website{
    position: relative;
}
.form-section .right-container .website::before {
    content: '';
    position: absolute;
    background: url(./service-image/form-logo-4.png);
    width: 20px;
    height: 20px;
    top: 50%;
    left: -33px;
    transform: translateY(-50%);
}




.form-section .right-container ul li {
    list-style: none;
    line-height: 41px;
    font-size: 16px;
}
.form-section .right-container ul li a {
    text-decoration: none;
}
.form-section .right-container ul li a span {
    color: #6d6a68;
}
.form-section .right-container ul li a strong {
    color: #173a69;
}

/* form-section-css-end */

/* footer-top-section-css-start */

.footer-top {
	background: #173a69;
	padding: 53px;
	margin-top: 48px;
}
.footer-top .footer-top-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.footer-top .footer-top-content p {
    font-size: 22px;
    font-weight: 400;
    color: #dee1e6;
}

.footer-top .footer-top-content h4 {
    font-size: 30px;
    font-weight: 800;
    color: #dee1e6;
    margin-left: 15px;
}

/* footer-top-section-css-end */

/* footer-meddile-section-css-start */

.footer-meddile {
	margin-top: 47px;
}
.footer-meddile .img-section {
    text-align: center;
}

.footer-meddile .img-section2 {
	margin-top: 20px;
	text-align: center;
}
.footer-meddile .img-section2 img {
    padding-right: 31px;
}
.footer-meddile .img-section2 img:last-child{
    padding-right: 0px;
}

/* footer-meddile-section-css-end */

/* footer-bottom-css-start */

.footer-bottom {
	background: #000000;
	padding: 40px;
	margin-top: 33px;
	margin-bottom: 15px;
}
.footer-bottom p {
    color: #dee1e6;
    text-align: center;
    font-size: 15px;
    font-weight: 600;
}

/* footer-bottom-css-end */
@media only screen and (max-width:989px){
    .slicknav_menu {
        display: block;
        position: absolute;
        right: 0;
        top: 60px;
    }
    .main-manu-section .right-nav ul li a {
        display: none;
    }
    .main-manu-section .left-logo {
        margin-bottom: -3px;
    }
    .slicknav_menu {
        display: block;
        position: absolute;
        right: 0;
        top: 76px;
        z-index: 999;
        background: transparent;
    }
    .slicknav_menu ul{
        background: #0c1f38;
    }
    .slicknav_menu .slicknav_menutxt {
        display: none;
    }
    #menu{
        display: none;
        
    }
    .slicknav_menu .slicknav_icon {
 
        opacity: 0;
    }
    .slicknav_collapsed{
        position: relative;
        background: transparent;
    }
    .slicknav_collapsed:focus, .slicknav_open:focus{
        color: #0c1f38;
    }
    .slicknav_collapsed::after {
        content: '\f0c9';
        position: absolute;
        font-family: fontawesome;
        left: 0;
        font-size: 28px;
    }
    .slicknav_open{
        background: transparent;
        position: relative;
    }
    .slicknav_open::after{
        content: '\f00d';
        position: absolute;
        font-family: fontawesome;
        left: 0;
        font-size: 28px;
    }
    .slicknav_menu ul {
        background: #0c1f38;
        width: 215px;
        position: relative;
        top: 39px;
        height: 100vh;
    }
    .slicknav_nav a {
        padding: 16px 10px;
    }
    .main-manu-section .left-logo {
        margin-bottom: -1px;
    }
    .slicknav_menu ul {
        top: 20px;
    }

}
@media only screen and (max-width:800px) {
    .form-section .flex-container {
        gap: 26px;
        grid-template-columns: 1fr;
    }
    .right-container {
        margin-left: 40px;
    }
    .form-section .right-container h2 {
        padding-bottom: 21px;
    }
}
@media only screen and (max-width:640px){
    .form-section .name-email {
        display: grid;
        grid-template-columns: 1fr;
        column-gap: 18px;
    }
    .form-section .container {
        margin-top: 32px;
    }
    .footer-top {
        margin-top: 24px;
    }
    .form-section .btn {
        width: 125px;
        background: #173a69;
        color: #fff;
        cursor: pointer;
        transition: .4s;
    }
    .form-section .right-container ul li {
        list-style: none;
        line-height: 35px;
        
    }
    .footer-meddile .img-section img {
        width: 210px;
    }
    .footer-meddile {
        margin-top: 25px;
    }
    .footer-meddile .img-section2 {
        margin-top: 10px;
    }
    .footer-meddile .img-section2 img {
        padding-right: 9px;
        width: 46px;
    }
    .footer-bottom {
        margin-bottom: 15px;
    }
    .footer-top {
        background: #173a69;
        padding: 35px;
        margin-top: 24px;
    }
  
   
    .footer-bottom {
        padding: 25px;
    }
   
    .top-header-section .main-column {
        grid-template-columns: 3fr 2fr;
    }
}

@media only screen and (max-width:580px) {
    .top-header-section .main-column {
        grid-template-columns: 1fr;
    }
    .top-header-section .column-left {
        text-align: center;
    }
    .top-header-section .column-right {
        text-align: center;
    }
    .top-header-section .phone {
        margin-right: 5px;
    }
    .top-header-section .fa-twitter {
        padding-left: 8px;
        padding-right: 8px;
    }
    .slicknav_menu ul {
        top: 38px;
    }
    .footer-top .footer-top-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}

